__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store
.env
.venv/
venv/
data/
*.pt
*.pth
*.ckpt
src/icd_linker.egg-info
chroma
logs
models
.history
# 排除所有目录下的 test_retrieval_predictions.jsonl 文件
experiments/**/test_retrieval_predictions.jsonl